*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1030px;
    margin: 0 auto;
}img{
    width: 100%;
    max-height: 100%;
}
.flex-container{
    display: flex;
}
a.btn-primary {
    color: #fff;
    width: 120px;
    text-align: center;
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    background-color: #FF6666;
    border-radius: 13px;
}
main#main-content {
    padding: 50px 0;
}
/* Start Here Header Area Style */
header#main-header {
    height: 450px;
    background-image: url(images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    transform: scaleX(-1);
}.head-flip{
    transform: scaleX(-1);
}.header-items {
    flex-direction: column;
    width: 450px;
    justify-content: center;
    height: 450px;
}.head-title h1 {
    font-size: 45px;
}.head-info p {
    color: #2a2828;
    padding: 12px 0;
}
/* About Area Style */
.about-items {
    justify-content: space-between;
    align-items: center;
}.about-info {
    width: 450px;
    padding: 10px;
}.about-image {
    height: 500px;
}.about-info h1 {
    font-size: 35px;
}.about-info p {
    font-size: 18px;
}ul.work-list {
    list-style: none;
}ul.work-list li {
    color: #727272;
    padding: 5px 0;
}