*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1030px;
    margin: 0 auto;
}img{
    width: 100%;
    max-height: 100%;
}
.flex-container{
    display: flex;
}
a.btn-primary {
    color: #fff;
    width: 120px;
    text-align: center;
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    background-color: #FF6666;
    border-radius: 13px;
}
main#main-content {
    padding: 50px 0;
}
/* Start Here Header Area Style */
header#main-header {
    height: 450px;
    background-image: url(images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    transform: scaleX(-1);
}.head-flip{
    transform: scaleX(-1);
}.header-items {
    flex-direction: column;
    width: 450px;
    justify-content: center;
    height: 450px;
}.head-title h1 {
    font-size: 45px;
}.head-info p {
    color: #2a2828;
    padding: 12px 0;
}
/* About Area Style */
.about-items {
    justify-content: space-between;
    align-items: center;
}.about-info {
    width: 450px;
    padding: 10px;
}.about-image {
    height: 500px;
}.about-info h1 {
    font-size: 35px;
}.about-info p {
    font-size: 18px;
}ul.work-list {
    list-style: none;
}ul.work-list li {
    color: #727272;
    padding: 5px 0;
}
/* Planning Area Style */
.plan-item{
    width: 250px;
}.plan-box {
    justify-content: center;
    align-items: center;
    height: 250px;
    text-align: center;
}h1.section-title {
    text-align: center;
    padding: 20px;
    font-size: 3em;
}
.plan-item img {
    width: 40%;
}
/* Call Me Section Style */
section#contact-area {
    padding: 30px 0;
    height: 250px;
}
.call-box {
    width: 900px;
    margin: 0 auto;
    background-image: url(images/watch.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    border-radius: 20px;
}
.call-info h2 {
    font-size: 2em;
    width: 400px;
    color: #fff;
}
.call-info {
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1));
    height: 250px;
    border-radius: 20px;
}
.call-info h2 {
    font-size: 2em;
    width: 400px;
    color: #fff;
    padding: 25px;
}
.call-info a {
    margin: 0 25px;
    background: #fff;
    color: black;
}
/* Footer section style */
footer#main-footer {
    background-color: #242B2E;
    color: #fff;
}
.footer-info {
    width: 45%;
    padding: 10px;
}

.footer-btn {
    width: 45%;
}

.footer-items {
    justify-content: space-between;
}
.links span {
    font-size: 35px;
    margin-left: 8px;
}
.footer-info p {
    padding: 10px 0;
    color: darkgray;
}input.subscribe {
    border: 1px solid #fff;
    padding: 20px;
    width: 215px;
    border-radius: 10px;
    background-color: #242B2E;
}.footer-btn {
    width: 25%;
}
.footer-btn h1 {
    padding: 15px 0;
}
.footer-btn a {
    background-color: rebeccapurple;
    margin-top: 10px;
}
/* Meet The Team Area Css */
.teams {
    width: 250px;
}.team-person {
    justify-content: space-between;
    align-items: center;
}
section#team-area {
    padding: 30px 0;
}
.teams img {
    border-radius: 115px;
}